<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
	 xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Bundle Id="LightningEngineBundle"
		  Name="Lightning Bootstrapper"
		  Manufacturer="Cséfalvay Bálint"
		  Version="1.0.0.0"
		  UpgradeCode="{30943F1C-0EAE-47F1-B80E-BC38354A22BD}">
    <BootstrapperApplication>
      <bal:WixInternalUIBootstrapperApplication Theme="standard"/>
    </BootstrapperApplication>
    <util:FileSearch Id="MSBuildCommunity"
					 Variable="MS_BUILD_COM"
					 Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\Community\MSBuild\Current\Bin\MSBuild.exe"
					 Result="exists" />
	<util:FileSearch Id="MSBuildProfessional"
					 Variable="MS_BUILD_PRO"
					 Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\Professional\MSBuild\Current\Bin\MSBuild.exe"
					 Result="exists" />
	<util:FileSearch Id="MSBuildEnterprise"
					 Variable="MS_BUILD_ENT"
					 Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\Enterprise\MSBuild\Current\Bin\MSBuild.exe"
					 Result="exists" />
	<util:FileSearch Id="MSBuildBuildTools"
					 Variable="MS_BUILD_TOOLS"
					 Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\BuildTools\MSBuild\Current\Bin\MSBuild.exe"
					 Result="exists" />
	<util:DirectorySearch Id="VCToolsetCommunity"
						  Variable="VC_COM"
						  Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\Community\VC\Tools\MSVC"
						  Result="exists" />
	<util:DirectorySearch Id="VCToolsetProfessional"
						  Variable="VC_PRO"
						  Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\Professional\VC\Tools\MSVC"
						  Result="exists" />
	<util:DirectorySearch Id="VCToolsetEnterprise"
						  Variable="VC_ENT"
						  Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\Enterprise\VC\Tools\MSVC"
						  Result="exists" />
	<util:DirectorySearch Id="VCBuildTools"
						  Variable="VC_BUILD_TOOLS"
						  Path="[ProgramFiles64Folder]Microsoft Visual Studio\2022\BuildTools\VC\Tools\MSVC"
						  Result="exists" />
    <Chain>
	  <ExePackage Id="vs_BuildTools"
	  			PerMachine="yes"
	  			Permanent="yes"
	  			bal:PrereqPackage="yes"
	  			DetectCondition="(MS_BUILD_COM OR MS_BUILD_PRO OR MS_BUILD_ENT OR MS_BUILD_TOOLS) AND (VC_COM OR VC_PRO OR VC_ENT OR VC_BUILD_TOOLS)"
				InstallArguments="--quiet --wait --norestart --nocache --add Microsoft.Component.MSBuild --add Microsoft.VisualStudio.Component.VC.Tools.x86.x64">
	  	<ExePackagePayload Id="vs_BuildTools Download"
						   Name="vs_BuildTools.exe"
						   DownloadUrl="https://aka.ms/vs/17/release/vs_BuildTools.exe"
						   Hash="57F0AE0090384543E05FCBB5618AAF2ED3FB9F07E357E3020987409F648B87E67073C8E7C49955B1C7E03F7B1FAD5DC0963274D7E488B5DD360ABFFC0BA0208C"
						   Size="4465872"/>
	  </ExePackage>
	  <MsiPackage Id="LightningInstaller"
				  SourceFile="$(var.Installer.TargetPath)"/>
    </Chain>

  </Bundle>
</Wix>
