name: Code Analysis

on:
  push:
    paths:
      - '**.cpp'
      - '**.h'
      - '**.cs'
      - '**.xaml'
      - '**.vcxproj'
      - '**.csproj'
  pull_request:
    branches: [main, develop]
  workflow_dispatch:

permissions:
  contents: read

concurrency:
  group: analysis-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    name: MSVC + .NET Analysis
    runs-on: windows-2025

    env:
      SOLUTION_FILE: Engine.sln
      EDITOR: Editor/Editor.csproj

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup dependencies
        run: |
          git clone --depth 1 https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/mmikk/MikkTSpace.git packages/MikkTSpace
          $url = 'https://drive.usercontent.google.com/download?id=1dIRXQ8U8Pjk46p5yAZy8NV-UPtT0utZu&export=download&authuser=0&confirm=t&uuid=780e7af0-71a7-40cb-92a4-da1f27aaf7a7&at=AN8xHop1oRwI7kHy5S5dObJuMOLc%3A1753290243197'
          Invoke-WebRequest -Uri $url -OutFile 'FBX SDK.zip'
          Expand-Archive -Path 'FBX SDK.zip' -DestinationPath 'packages/FBX SDK'

      - name: Setup NuGet
        uses: nuget/setup-nuget@v2

      - name: Restore packages
        run: |
          nuget restore ${{ env.SOLUTION_FILE }}
          dotnet restore ${{ env.EDITOR }}

      - name: Setup MSBuild
        run: |
          $msbuildPath = & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\Installer\vswhere.exe" `
            -latest -requires Microsoft.Component.MSBuild -find MSBuild\**\Bin\MSBuild.exe | Select-Object -First 1
          if (-not $msbuildPath) { throw "MSBuild not found" }
          Add-Content -Path $env:GITHUB_PATH -Value (Split-Path $msbuildPath)

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.x'

      - name: Run .NET Analysis
        run: dotnet build ${{ env.EDITOR }} -c ReleaseEditor -warnaserror -p:EnableNETAnalyzers=true -p:AnalysisLevel=latest -v minimal

      - name: Run Native Code Analysis
        run: |
          msbuild ${{ env.SOLUTION_FILE }} /p:Configuration=ReleaseEditor /p:Platform=x64 /p:RunNativeCodeAnalysis=true /p:EnableCppCoreCheck=true /p:CodeAnalysisTreatWarningsAsErrors=true /m /clp:Summary /fl /flp:logfile=analysis.log

      - name: Upload logs
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: analysis-logs
          path: analysis.log
          retention-days: 3
